<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1" ng-repeat="item in data.sitedetails">
            <div class="col" data-comp-id="column.1">
                <div data-comp-id="text.1" ng-bind="item.title">Some text</div>
            </div>
            <div class="col" data-comp-id="column.2">
                <div data-comp-id="text.2" ng-bind="item.value">Some text</div>
            </div>
            <div class="col" data-comp-id="column.3">
                <div data-comp-id="text.3" ng-bind="item.measure">Some text</div>
            </div>
        </div>
    </ion-content>
</ion-view>